/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body, div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div{
  width: 60vw;
  height: 75vh;
  border: 1px solid black;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;

}

img{
  display: block;
  max-width: 35vw;
  max-height: 45vh;

}
ul{
  list-style: none;
}
.hidden{
  display: none;
}



